<div class="container-fluid">
    <div fxLayout="row wrap" fxLayoutGap="10px grid"
        fxLayoutAlign="center space-between"
        *ngIf="<%= entityInstancePlural %> && <%= entityInstancePlural %>.length > 0">
        <div fxFlex="25%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%" *ngFor="let <%= entityInstance %> of <%= entityInstancePlural %>; trackBy: trackId">

        </div>
    </div>
    <%_ if (pagination === 'pagination') { _%>

    <div *ngIf="<%= entityInstancePlural %> && <%= entityInstancePlural %>.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
    <%_ } _%>
</div>
