<div class="container-fluid mt-2">
    <div fxLayout="row wrap" fxLayoutGap="10px grid"
        fxLayoutAlign="center space-between"
        *ngIf="<%= entityInstancePlural %> && <%= entityInstancePlural %>.length > 0">
        <<%= jhiPrefixDashed %>-<%= entityFileName %>-card
            fxFlex="25%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%"
            [<%= entityInstance %>]="<%= entityInstance %>"
            *ngFor="let <%= entityInstance %> of <%= entityInstancePlural %>; trackBy: trackId">
        </<%= jhiPrefixDashed %>-<%= entityFileName %>-card>
    </div>
</div>
