<div>
    <mat-toolbar id="page-heading" data-cy="<%= entityClass %>Heading">
        <div *ngIf="!mobileQuery.matches" class="col-12 pl-0 pr-0 col-md-7">
            <ng-container *ngTemplateOutlet="headingAndCreate"></ng-container>
        </div>
        <div *ngIf="!mobileQuery.matches" class="col-12 pr-0 col-md-5">
            <ng-container *ngTemplateOutlet="sortAndViewButtons"></ng-container>
        </div>
        <mat-toolbar-row *ngIf="mobileQuery.matches" class="d-flex justify-content-between">
            <ng-container *ngTemplateOutlet="headingAndCreate"></ng-container>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="mobileQuery.matches" class="d-flex justify-content-end">
            <ng-container *ngTemplateOutlet="sortAndViewButtons"></ng-container>
        </mat-toolbar-row>
    </mat-toolbar>


    <ng-template #headingAndCreate>
        <span id="page-header" jhiTranslate="testRun1App.<%= entityInstance %>.home.title"><%= entityClassPluralHumanized %></span>

        <button mat-raised-button color="primary" id="jh-create-entity"
            data-cy="entityCreateButton" class="jh-create-entity create-<%= entityInstance %>"
            [routerLink]="['/<%= entityInstance %>/new']">
            <mat-icon>add</mat-icon>
            <span  jhiTranslate="testRun1App.<%= entityInstance %>.home.createLabel">
            New <%= entityClassHumanized %>
            </span>
        </button>
    </ng-template>

    <ng-template #sortAndViewButtons>
        <div class="d-flex justify-content-end p-0">
            <mat-form-field class="small-field" appearance="standard">
                <mat-label>Sort By</mat-label>
                <mat-select [(ngModel)]="predicate" (selectionChange)="loadPage()">
                    <mat-option [value]="field" *ngFor="let field of fields">
                        {{ field }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button (click)="ascending = !ascending; loadPage()">
                <mat-icon>{{ ascending ? 'arrow_circle_up' : 'arrow_circle_down'}}</mat-icon>
            </button>
            <button mat-icon-button (click)="viewType = 'list'">
                <mat-icon>view_list</mat-icon>
            </button>
            <button mat-icon-button (click)="viewType = 'grid'">
                <mat-icon>view_comfy</mat-icon>
            </button>
            <button mat-icon-button (click)="viewType = 'book'">
                <mat-icon>chrome_reader_mode</mat-icon>
            </button>
        </div>
    </ng-template>

    <<%= jhiPrefixDashed %>-alert-error></<%= jhiPrefixDashed %>-alert-error>
    <<%= jhiPrefixDashed %>-alert></<%= jhiPrefixDashed %>-alert>

    <%_ if (searchEngine !== false) { _%>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="<% if (enableTranslation) { %>{{ '<%= i18nKeyPrefix %>.home.search' | translate }}<% } else { %>Query<% } %>">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <%_ } _%>

    <div class="alert alert-warning" id="no-result" *ngIf="<%= entityInstancePlural %>?.length === 0">
        <span jhiTranslate="<%= i18nKeyPrefix %>.home.notFound">No <%= entityInstancePlural %> found</span>
    </div>

    <div class="content two-toolbar-wrapper">
        <<%= jhiPrefixDashed %>-<%= entityFileName %>-list
            [<%= entityInstancePlural %>]="sortedData"
            *ngIf="viewType === 'list'"
            [trackId]="trackId"
            [loadPage]="loadPage">
        </<%= jhiPrefixDashed %>-<%= entityFileName %>-list>

        <<%= jhiPrefixDashed %>-<%= entityFileName %>-grid
            [<%= entityInstancePlural %>]="sortedData"
            *ngIf="viewType === 'grid'"
            [trackId]="trackId">
        </<%= jhiPrefixDashed %>-<%= entityFileName %>-grid>

        <<%= jhiPrefixDashed %>-<%= entityFileName %>-book
            [<%= entityInstancePlural %>]="sortedData"
            *ngIf="viewType === 'book'"
            [trackId]="trackId">
        </<%= jhiPrefixDashed %>-<%= entityFileName %>-book>

        <%_ if (pagination === 'pagination') { _%>

        <div *ngIf="<%= entityInstancePlural %> && <%= entityInstancePlural %>.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>

            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
            </div>
        </div>
        <%_ } _%>
    </div>
</div>
